<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md">
        <h1>Forgot your password?</h1>

        <p>Enter your email address you registered with. You will receive an email with a password reset link.</p>

        <form (submit)="sendPasswordResetEmail()" novalidate>
          <div class="form-group">
            <label for="email">Your email address</label>
            <input type="email"
                   id="email"
                   class="form-control"
                   placeholder="e.g. john@protonmail.com"
                   name="email"
                   #emailField="ngModel"
                   appValidateEmailOnInput
                   [ngClass]="{
                     'is-valid': !emailField.invalid,
                     'is-invalid': emailField.invalid && (emailField.dirty || emailField.touched)
                   }"
                   [(ngModel)]="email"
                   required
            >
            <div class="invalid-feedback">
              Please enter a valid email address.
            </div>
          </div>
          <p class="text-right">
            <a routerLink="/login" class="btn btn-xs btn-link">Back to login</a>
            <button type="submit"
                    class="btn btn-primary"
                    [disabled]="emailField.invalid">Send password reset email</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>