<div class="container">

  <div *ngIf="!loaded" class="loader">
    <div>Applying AES256-GCM with hardened scrypt takes time…</div>
  </div>

  <div *ngIf="containerPasswordInputNeeded && loaded">
    <div class="jumbotron">
      <div class="row">
        <div class="col-sm">
          <img src="/assets/images/protopass-favicon.png" id="password-required-lock" alt="Locked">
          <div *ngIf="initialUserProfileSetup">
            <p class="lead">Set up your profile password</p>
            <p>This password is responsible for the client-side encryption of your passwords stored in the
              application. If you forget this, it can not be reset. Keep it safe and do not forget it. Never. Ever.</p>
            <form (submit)="setupUserProfile()">
              <div class="form-group">
                <label for="setup-container-password-1">Password</label>
                <input type="password"
                       id="setup-container-password-1"
                       class="form-control"
                       name="setup-container-password-1"
                       #setupContainerPasswordField1="ngModel"
                       appValidatePasswordStrengthOnInput
                       [ngClass]="{
                         'is-valid': !setupContainerPasswordField1.invalid,
                         'is-invalid': setupContainerPasswordField1.invalid && (setupContainerPasswordField1.dirty || setupContainerPasswordField1.touched)
                       }"
                       [(ngModel)]="setupContainerPasswordInput1"
                       required>
                <div class="invalid-feedback">
                  Your password should be at least 12 characters long, and include:
                  <ul>
                    <li>at least 2 lowercase characters,</li>
                    <li>at least 2 uppercase characters,</li>
                    <li>at least 2 numbers,</li>
                    <li>at least 2 special symbols.</li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <label for="setup-container-password-2">Confirmation</label>
                <input type="password"
                       id="setup-container-password-2"
                       class="form-control"
                       name="setup-container-password-2"
                       [ngClass]="{
                         'is-valid': setupContainerPasswordInput2.length > 0 && setupContainerPasswordsMatch,
                         'is-invalid': setupContainerPasswordInput2.length > 0 && !setupContainerPasswordsMatch
                       }"
                       [(ngModel)]="setupContainerPasswordInput2"
                       required>
                <div class="invalid-feedback" [hidden]="!(setupContainerPasswordInput2.length > 0 && !setupContainerPasswordsMatch)">
                  Your passwords do not match.
                </div>
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="!setupUserProfileAllValid">Go!</button>
            </form>
          </div>

          <div *ngIf="!initialUserProfileSetup">
            <p class="lead">Enter your profile password</p>
            <p>Every 10 minutes, you have to enter your container password again. This is to ensure the maximum
              security is achieved.</p>
            <form (submit)="openUserProfile()">
              <div class="form-group">
                <input type="password"
                       class="form-control"
                       name="password"
                       [(ngModel)]="openUserProfileContainerPasswordInput">
              </div>
              <button type="submit"
                      class="btn btn-primary"
                      [disabled]="!openUserProfileContainerPasswordInput">Open your profile</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!containerPasswordInputNeeded && loaded">
    <div class="row">
      <div class="col">
        <div class="card">
          <h5 class="card-header">Your end-to-end encrypted password storage</h5>
          <div class="card-body">
            <table class="table table-hover" [hidden]="passwordEntriesArray.length === 0">
              <thead>
                <tr>
                  <th>Service name</th>
                  <th>Password</th>
                  <th>Show</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let passwordEntry of passwordEntriesArray">
                  <td>{{ passwordEntry[0] }}</td>
                  <td>{{ passwordEntry[1] }}</td>
                  <td>
                    <button *ngIf="!passwordIsCurrentlyVisible(passwordEntry[1])"
                            class="btn btn-success btn-sm"
                            (click)="getPasswordOfKey(passwordEntry[0])"
                            [disabled]="userProfileLocked">SHOW PASSWORD</button>
                    <button *ngIf="passwordIsCurrentlyVisible(passwordEntry[1])"
                            class="btn btn-success btn-sm"
                            (click)="hidePasswordOfKey(passwordEntry[0])">HIDE PASSWORD</button>
                  </td>
                  <td>
                    <button class="btn btn-danger btn-sm"
                            (click)="deletePasswordOfKey(passwordEntry[0])"
                            [disabled]="userProfileLocked">DELETE
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="lead" [hidden]="passwordEntriesArray.length > 0">You didn't store any passwords here yet.</p>
          </div>

        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="card">
          <h5 class="card-header">
            Add new password
          </h5>
          <div class="card-body">
            <form (submit)="addNewPassword()">
              <div class="form-group">
                <label for="new-password-key">Service name</label>
                <input type="text"
                       class="form-control"
                       id="new-password-key"
                       name="new-password-key"
                       placeholder="e.g. Facebook"
                       [(ngModel)]="newPasswordKey">
              </div>
              <div class="form-group">
                <label for="new-password-value">Password</label>
                <input type="text"
                       class="form-control"
                       id="new-password-value"
                       name="new-password-value"
                       [(ngModel)]="newPasswordValue">
              </div>
              <p>
                <button type="submit" class="btn btn-success">Add password</button>
              </p>
            </form>

            <hr>

            <h6>Generate password to the above field</h6>

            <div class="form-group">
              <label for="length">Length</label>
              <input type="text"
                     class="form-control"
                     id="length"
                     name="length"
                     placeholder="The longer the better…"
                     [(ngModel)]="generatedPasswordLength">
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="lower" name="lower" [(ngModel)]="generatedPasswordLower">
              <label class="form-check-label" for="lower">
                Lowercase letters (a-z)
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="upper" name="upper" [(ngModel)]="generatedPasswordUpper">
              <label class="form-check-label" for="upper">
                Uppercase letters (A-Z)
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="number" name="number" [(ngModel)]="generatedPasswordNumber">
              <label class="form-check-label" for="number">
                Numbers (0-9)
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="symbol" name="symbol" [(ngModel)]="generatedPasswordSymbol">
              <label class="form-check-label" for="symbol">
                {{ 'Symbols (!"#$%&\'()*+,-./:;<=>?@[]^_`{|}~)' }}
              </label>
            </div>

            <br>

            <button class="btn btn-primary" (click)="generateRandomPassword()">Generate</button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="card">
          <h5 class="card-header">
            Change your profile password
          </h5>
          <div class="card-body">
            <p>This password is responsible for the client-side encryption of your passwords stored in the
              application. If you forget this, it can not be reset. Keep it safe and do not forget it. Never. Ever.</p>
            <form (submit)="changeUserProfilePassword()">
              <div class="form-group">
                <label for="change-container-password-1">New password</label>
                <input type="password"
                       id="change-container-password-1"
                       class="form-control"
                       name="change-container-password-1"
                       #changeContainerPasswordField1="ngModel"
                       appValidatePasswordStrengthOnInput
                       [ngClass]="{
                         'is-valid': !changeContainerPasswordField1.invalid,
                         'is-invalid': changeContainerPasswordField1.invalid && (changeContainerPasswordField1.dirty || changeContainerPasswordField1.touched)
                       }"
                       [(ngModel)]="changeContainerPasswordInput1"
                       required>
                <div class="invalid-feedback">
                  Your password should be at least 12 characters long, and include:
                  <ul>
                    <li>at least 2 lowercase characters,</li>
                    <li>at least 2 uppercase characters,</li>
                    <li>at least 2 numbers,</li>
                    <li>at least 2 special symbols.</li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <label for="change-container-password-2">Confirmation</label>
                <input type="password"
                       id="change-container-password-2"
                       class="form-control"
                       name="change-container-password-2"
                       [ngClass]="{
                         'is-valid': changeContainerPasswordInput2.length > 0 && changeContainerPasswordsMatch,
                         'is-invalid': changeContainerPasswordInput2.length > 0 && !changeContainerPasswordsMatch
                       }"
                       [(ngModel)]="changeContainerPasswordInput2"
                       required>
                <div class="invalid-feedback" [hidden]="!(changeContainerPasswordInput2.length > 0 && !changeContainerPasswordsMatch)">
                  Your passwords do not match.
                </div>
              </div>
              <button type="submit"
                      class="btn btn-primary"
                      [disabled]="!changeUserProfilePasswordAllValid">Change profile password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>