<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md">
        <img src="/assets/images/protopass-logo.png" alt="Protopass logo" id="logo-big">
        <p class="lead">Online, browser-based, end-to-end encrypted password manager.</p>
      </div>
      <div class="col-md">
        <form (submit)="login()">
          <div class="form-group">
            <input type="email"
                   class="form-control"
                   placeholder="john@protonmail.com"
                   name="email"
                   [(ngModel)]="email">
          </div>

          <div class="form-group">
            <input type="password"
                   class="form-control"
                   [placeholder]="passwordPlaceholder"
                   [(ngModel)]="password"
                   name="password"
                   required>
          </div>

          <p class="text-right">
            <a routerLink="/register" class="btn btn-link">Register</a><button type="submit" class="btn btn-primary">Log in</button>
          </p>
        </form>

        <p class="text-right">
          <small><a routerLink="/password-reset">Forgot your password?</a></small>
        </p>
      </div>
    </div>
  </div>
</div>