<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md">
        <h1>Reset your password</h1>

        <p>Enter your new password below, and you will be able to log in with it.</p>

        <form (submit)="resetPassword()" novalidate>
          <div class="form-group">
            <label for="login-password-1">Your new login password</label>
            <input type="password"
                   id="login-password-1"
                   class="form-control"
                   name="login-password-1"
                   #loginPasswordField1="ngModel"
                   appValidatePasswordStrengthOnInput
                   [ngClass]="{
                     'is-valid': !loginPasswordField1.invalid,
                     'is-invalid': loginPasswordField1.invalid && (loginPasswordField1.dirty || loginPasswordField1.touched)
                   }"
                   [(ngModel)]="loginPassword1"
                   required>
            <div class="invalid-feedback">
              Your password should be at least 12 characters long, and include:
              <ul>
                <li>at least 2 lowercase characters,</li>
                <li>at least 2 uppercase characters,</li>
                <li>at least 2 numbers,</li>
                <li>at least 2 special symbols.</li>
              </ul>
            </div>
          </div>

          <div class="form-group">
            <label for="login-password-2">Your new login password's confirmation</label>
            <input type="password"
                   id="login-password-2"
                   class="form-control"
                   name="login-password-2"
                   [ngClass]="{
                     'is-valid': loginPassword2.length > 0 && loginPasswordsMatch,
                     'is-invalid': loginPassword2.length > 0 && !loginPasswordsMatch
                   }"
                   [(ngModel)]="loginPassword2"
                   required>
            <div class="invalid-feedback" [hidden]="!(loginPassword2.length > 0 && !loginPasswordsMatch)">
              Your passwords do not match.
            </div>
          </div>

          <p class="text-right">
            <button type="submit"
                    class="btn btn-primary"
                    [disabled]="loginPasswordField1.invalid || !loginPasswordsMatch">Reset password</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>